
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <div>

        <h1>Course Created Successfully</h1>

    </div>

    <div>
        @Html.ActionLink("Back to Course", "CreateCourse")
    </div>
</body>
</html>
