
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <div>
        <h1>Successfully Performed The Operation</h1>

        <br />

        @Html.ActionLink("Back to Course", "Courses")
    </div>
</body>
</html>
